.wrapper_3 {
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
}

.wrapper_2 {
    border: 5px solid rgba(246, 246, 246, 0.98);
    background-color: lightgray;
    padding: 10px;
}

.wrapper_1 {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.content {
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    margin: 0px;
}